{% extends "common/base.j2" %}
{% block body_content %}
<!-- Jumbotron -->
<div class="jumbotron">
  <div class="container text-center">
    <h1>{{ _("Taler System Architecture") }}</h1>
    <p>
    </p>
  </div>

</div>

<div class="container">
  <img width="100%" src="{{ svg_localized('images/taler-arch-full') }}"></img>
</div>
{% endblock body_content %}
