{% extends "common/base.j2" %}
{% block body_content %}
<div class="container">

<h2>{{ _("How is Taler related to Bitcoin or Blockchains?") }}</h2>
{% trans %}
<p>Taler does not use any Blockchain technology or Bitcoin directly.
Taler is not based on proof-of-work or any other distributed consensus
mechanism.  Instead Taler is based on blind signatures.</p>
{% endtrans %}
{% trans %}
<p>It would be possible, however, to withdraw coins denominated in
Bitcoin into a Taler wallet (with an appropriate exchange), which
would give some benefits over plain Bitcoin, such as instant
confirmation times.</p>
{% endtrans %}

<h2>{{ _("Where is the balance in my wallet stored?") }}</h2>
{% trans %}
<p>Your wallet stores digital coins and thus ultimately your computer
holds your balance. The exchange keeps funds matching all unspent
coins in an escrow bank account.</p>
{% endtrans %}

<h2>{{ _("What if my wallet is lost?") }}</h2>
{% trans %}
<p>Since the digital coins of value in your wallet are anonymized, the
exchange can not assist you in recovering a lost or stolen wallet.
Just like with a physical wallet for cash, you are responsible for
keeping it safe.</p>
{% endtrans %}
{% trans %}
<p>The risk of losing a wallet can be mitigated by making backups or
keeping the balance reasonably low.</p>
{% endtrans %}

<h2>{{ _("What if my computer is hacked?") }}</h2>
{% trans %}
<p>In case of a compromise of one of your devices, an attacker can
spend coins from your wallet. Checking your balance might reveal
to you that your device has been compromised.</p>
{% endtrans %}

<h2>{{ _("Can I send money to my friend with Taler?") }}</h2>
{% trans %}
<p>If your friend provides goods or services for you in exchange for a
payment, they can easily set up a Taler merchant and receive the
payment in their bank account.</p>
{% endtrans %}
{% trans %}
<p>Future versions of the Taler wallet may allow exchanging coins
among friends directly as well.</p>
{% endtrans %}


<h2>{{ _("How does Taler handle payments in different currencies?") }}</h2>
{% trans %}
<p>Taler wallets can store digital coins corresponding to multiple
different currencies such as the Euro, US Dollars or Bitcoins.</p>
{% endtrans %}
{% trans %}
<p>Taler currently does not offer conversion between currencies.</p>
{% endtrans %}

<h2>{{ _("How does Taler protect my privacy?") }}</h2>
{% trans %}

<p>Your wallet stores digital coins that are <a
href="https://en.wikipedia.org/wiki/Blind_signature">blindly
signed</a> by an exchange.  The use of a blind signature protects your
privacy as it prevents the exchange from knowing which coin it signed
for which customer.</p>

{% endtrans %}


<h2>{{ _("How much does it cost?") }}</h2>
{% trans %}

<p>The Taler protocol allows any exchange to set its own fee
structure, allowing operators to set fees for withdrawing, depositing,
refreshing or refunding coins.  Operators can also charge fees for
closing reserves and for (aggregated) wire transfers to merchants.
Merchants may choose to cover some of the fees customers incur.
Actual transaction costs are estimated around 0.001 cent/transaction
(at high transaction rates, amortized over billions of transactions,
excluding migration costs). Note that this is an early estimate,
details may depend on hosting and backup requirements from the
regulator and could thus easily be 10x higher.</p>
{% endtrans %}


<h2>{{ _("Does Taler work with international payments?") }}</h2>
{% trans %}

<p>Taler's wallet supports multiple currencies, but the system
currently does not support conversion between currencies.  However,
in principle an entity that accepts deposits in one currency and
allows withdrawals in another currency could be created. Still, the
regulatory hurdles in this case tend to be particularly complex.
The focus for Taler is on day-to-day payments, so we have no plans
to support currency conversion in the near future.</p>

{% endtrans %}


<h2>{{ _("How does Taler relate to the (European) Electronic Money Directive?") }}</h2>
{% trans %}

<p>We believe the European Electronic Money Directive provides part
of the regulatory framework a Taler exchange with coins denominated
in Euros would have to follow.</p>
{% endtrans %}


<h2>{{ _("What bank would guarantee the conversion between Taler coins and bank money in regular bank accounts?") }}</h2>
{% trans %}

<p>The exchange would be operated by a bank or in cooperation with a bank, and that bank
would hold the funds in escrow. Note that this bank could be a regular bank or a central
bank for a centrally banked electronic currency. Regardless, the bank would fall under
the respective banking regulations establishing a reason why consumers would have faith
in the conversion from Taler coins into regular bank money.</p>
{% endtrans %}


<h2>{{ _("To whom would consumers complain to in case of non-conversion or non-compliance?") }}</h2>
{% trans %}

<p>Any exchange should be audited by one or more independent auditors.  Merchants and
consumer wallets will report certain issues automatically to the auditors, but auditors
may also provide a method for manual submission of issues.  The auditors are expected
to make their reports available to the respective regulatory authorities, or even
the general public.</p>
{% endtrans %}


<h2>{{ _("Are there any projects already using Taler?") }}</h2>
{% trans %}

<p>We are aware of several businesses running exploratory projects or having
developed working prototypes. We are also
in discussions with several regular banks as well as several central banks
about the project. That said, there are currently no products in the
market yet, and we believe this would be premature given the state of
the project (see also <a href="https://gnunet.org/bugs/">our bugtracker</a>
for a list of open issues).</p>
{% endtrans %}


<h2>{{ _("Does Taler support recurring payments?") }}</h2>

{% trans %}
<p>Today, our wallet implementation does not support recurring
payments. Recurring payments, where some fixed amount is paid on a
regular basis are in theory possible with Taler, but they come with a
few caveats. Specifically, recurring payments can only work if the
Taler wallet is running and online around the desired time.
Furthermore, given their repetitive nature they are linkable, and
could thus be used to deanonymize the user making the recurring
payment, for example by forcing the user offline at the time of the
payment and observing that it does then not happen on time.  Finally,
the Taler wallet does not work with credit and thus the user would
have to make sure to carry a sufficient balance for the recurring
payment to be made. Still, they can be useful, and a future version of
the Taler wallet will likely support them. But this is not a feature
that we are targeting for Taler 1.0. at this time</p>
{% endtrans %}

</div>
{% endblock body_content %}
