{% extends "common/base.j2" %}
{% block body_content %}

<div class="jumbotron">
  <div class="container text-center">
    <h1>{{ _("Financial News") }}</h1>
    <div class="col-lg-12">
      <p>
        {% trans %}
          This page explains (only in English) how Taler can change ongoing
          developments in the financial industry.
        {% endtrans %}
      </p>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-12">

{% include "financial-news/2017-07-20.inc" %}
{% include "financial-news/2017-04-04.inc" %}
{% include "financial-news/2017-04-03.inc" %}
{% include "financial-news/2016-10-26.inc" %}
{% include "financial-news/2016-10-24.inc" %}
{% include "financial-news/2016-10-21.inc" %}
{% include "financial-news/2016-10-15.inc" %}
{% include "financial-news/2016-07-23.inc" %}
{% include "financial-news/2015-12-22.inc" %}
{% include "financial-news/2015-04-30.inc" %}
{% include "financial-news/2015-03-17.inc" %}
{% include "financial-news/2014-12-06.inc" %}
{% include "financial-news/2014-12-05.inc" %}
{% include "financial-news/2014-11-13.inc" %}
{% include "financial-news/2014-09-10.inc" %}
{% include "financial-news/2013-09-15.inc" %}

    </div>
  </div>
</div> <!-- /container -->

{% endblock body_content %}
