{% extends "common/base.j2" %}
{% block body_content %}
<!-- Jumbotron -->
<div class="jumbotron">
  <div style="height: 40vh">
    <img alt="{{ _("GNU Taler logo")}}" style="width:100%;height:100%" class="center-block" src="{{ svg_localized('images/logo-2018-dold') }}" />
  </div>

  <div class="container text-center">
    <h1>{{ _("One-Click Cash Payments!") }}</h1>

    <p>
      {% trans %}
      GNU Taler is an electronic payment system under development at
      <a href="http://www.inria.fr/">Inria</a>.  We expect to make it
      operational in 2019.  You can learn about Taler on this website,
      try the <a href="https://demo.taler.net">demo</a> and look at
      our <a href="https://docs.taler.net">documentation</a>.
      {% endtrans %}
    </p>

  </div>
</div>

<div class="container adorn_h3_bracket">
  <div class="row">
    <div class="col-lg-4">
      <h3>{{ _("Practical") }}</h3>

      <p>
        {% trans %}
        Taler is easy to integrate with existing Web
        applications. Payments are cryptographically
        secured and are confirmed within milliseconds with
        extremely low transaction costs.
        {% endtrans %}
      </p>

    </div>
    <div class="col-lg-4">
      <h3>{{ _("Stable") }}</h3>

      <p>
        {% trans %}
        Taler does not introduce a new currency. Taler
        uses a digital wallet storing coins and payment service
        providers with escrow accounts in existing currencies.
        Thus, Taler's cryptographic coins correspond to existing
        currencies, such as US Dollars, Euros or even Bitcoins.
        {% endtrans %}
      </p>

    </div>
    <div class="col-lg-4">
      <h3>{{ _("Secure") }}</h3>

      <p>
        {% trans %}
        By design Taler does not suffer from many classes
        of security problems such as phishing or counterfeit.
        Thanks to its security features, Taler never rejects a legitimate
        customer due to a fraud-detection false positive.
        {% endtrans %}
      </p>

    </div>
  </div>
  <div class="row">
    <div class="col-lg-4">
      <h3>{{ _("Taxable") }}</h3>

      <p>
        {% trans %}
        When using Taler, merchant's revenue is transparent for tax
        collection authorities.  Unlike cash and most digital currencies,
        Taler helps prevent black markets.  Taler is not suitable for
        illegal activities.
        {% endtrans %}
      </p>

    </div>
    <div class="col-lg-4">
      <h3>{{ _("Private") }}</h3>
      <p>
        {% trans %}
        When you pay with Taler, your identity does not
        have to be revealed. Just like
        payments in cash, nobody else can track how you
        spent your electronic money. However, you obtain a
        legally valid proof of payment.
        {% endtrans %}
      </p>

    </div>
    <div class="col-lg-4">
      <h3>{{ _("Libre") }}</h3>

      <p>
        {% trans %}
        Taler provides protocols and reference implementations that in
        principle enables anybody to run their own payment infrastructure,
        be it individuals, organizations or whole countries.  Since the
        reference implementation is a <a href="http://www.gnu.org/">GNU</a>
        package, it will always remain free software.
        {% endtrans %}
      </p>

    </div>
  </div>
</div>

<div class="container-fluid c_acronym">
<div class="container">
  <div class="row">
    <div class="col-lg-6">
    <h2>{{ _("Paying with Taler") }}</h2>
    {% trans %}
    <p>To pay with Taler, customers install an electronic wallet
    on their device.  Before the first payment, the desired currency
    must be added to the wallet's balance
    by some other means of payment.</p>
    <p>Once the wallet is charged, payments on websites take only one click,
    are never falsely rejected by fraud detection and do not pose any risk
    of phishing or identity theft.</p>
    {% endtrans %}
    </div>
    <div class="col-lg-6">
    <h2>{{ _("Receiving payments with Taler") }}</h2>
    {% trans %}
    <p>To receive Taler payments, a merchant needs a bank account
    in the desired currency.  We provide supporting software
    in various programming languages to make the integration painless.
    The merchant's backend for Taler transaction processing can run
    on the merchant's premises or be hosted by a third party.</p>
    {% endtrans %}
    </div>
  </div>
</div>
</div>


<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h2>{{ _("Taler News") }}</h2>
      {% include "news.html.j2.inc" %}
    </div>
  </div>
</div> <!-- /container -->
{% endblock body_content %}
