{% extends "common/base.j2" %}
{% block body_content %}

<div class="jumbotron">
  <div class="container text-center">
    <h1>{{ _("Invest in Taler!") }}</h1>
    <div class="col-lg-12">
      <p>
        {% trans %}
          We have created a company, Taler Systems SA in
          Luxembourg.<br>
          Please contact <tt>invest@taler.net</tt>
          if you want to invest in Taler.
        {% endtrans %}
      </p>
    </div>
  </div>
</div>


<div class="container adorn_h3_bracket">
 <div class="row">
  <div class="col-lg-4">
    <h3>{{ _("The Team") }}</h3>

    <p>
       {% trans %}
             Our <a href="about.html">team</a> combines world-class business leaders,
             cryptographers, software engineers, civil-rights
             activists and academics. We are unified by a vision
             of how payments should work and the goal of
             imposing this vision upon the world.
        {% endtrans %}
    </p>

    <p>
        {% trans %}
             We are currently supported by <a href="http://www.inria.fr/">Inria</a>, the French
             national institute for research in informatics and
             automation, and the <a href="https://renewablefreedom.org/">Renewable Freedom Foundation</a>.
        {% endtrans %}
    </p>
  </div>
  <div class="col-lg-4">
    <h3>{{ _("The Technology") }}</h3>

    <p>
        {% trans %}
             All transactions in Taler are secured using <a href="bibliography.html">modern
             cryptography</a> and trust in all parties is
             minimized. Financial damage is bounded (for
             customers, merchants and the exchange) even in the
             case that systems are compromised and private keys
             are stolen.  Databases can be audited for
             consistency, resulting in either the detection of
             compromised systems or the demonstration that
             participants were honest. Actual transaction costs
             are fractions of a cent.
        {% endtrans %}
     </p>
  </div>
  <div class="col-lg-4">
    <h3>{{ _("The Business") }}</h3>

    <p>
        {% trans %}
             The scalable business model for Taler is the operation
             of the payment service provider, which converts money from
             traditional payment systems (MasterCard, SEPA, UPI,
             Visa, Bitcoin, ACH, SWIFT, etc.) to anonymous
             electronic coins in the same currency. The customer
             can then redeem the electronic coins at a merchant,
             who can exchange them for money represented using
             traditional payment systems at the exchange.  The
             exchange charges fees to facilitate the transactions.
       {% endtrans %}
    </p>
  </div>
 </div>
</div>


<div class="container-fluid c_acronym">
 <div class="container">
   <h2>{{ _("The Business Case") }}</h2>
  <div class="row">
   <div class="col-lg-4">
     <a href="{{ url('presentations/investors2018.pdf') }}"><img border=0 class="center-block" width=64 height=64 alt="PDF" src="{{ url('images/pdf.svg') }}"><br><p align="center">{{ _("Download") }}</p></a>

     <p>
       {% trans %}
         Our <a href="financial-news.html">financial news</a> page
         explains in English how Taler can impact current developments in
         the global payment market.
       {% endtrans %}
     </p>
   </div>
   <div class="col-lg-4" id="canvas-left" style="display:none">
     <canvas id="the-canvas-left"></canvas>
   </div>
   <div class="col-lg-4" id="canvas-right" style="display:none">
    <canvas id="the-canvas-right"></canvas>
   </div>
   <script type="text/javascript" src="{{ url('dist/js/pdf.min.js') }}"></script>
   <script type="text/javascript" src="{{ url('dist/js/pdf-view.js') }}"></script>
  </div>
 </div>
</div>


<div class="container">
 <div class="row">
  <div class="col-lg-12">
   <h2 id="overview">{{ _("Running a Taler payment service operator") }}</h2>

  <p>
    {% trans %}
       The payment service operator runs the <em>Taler exchange</em>.
       The exchange charges <b>transaction fees</b> to customers or merchants.
       Its operational expenses are from wire transfers with the banking
       system and the operation of the computing infrastructure.
    {% endtrans %}
  </p>

  <p>
    <ul>
    <li>{{ _("Cryptographic operations, bandwidth and storage costs are less than 0.01 cent per transaction.") }}</li>

    <li>{{ _("Multiple Taler transactions can be aggregated into larger wire transfers to merchants to minimize wire transfer costs.") }}</li>

    <li>{{ _("Protocol allows the exchange to charge fees for any expensive operation (withdraw, deposit, refresh, refund or aggregated wire transfers).") }}</li>

    <li>{{ _("Partnership with banks establishes consumer trust.") }}</li>

    <li>{{ _("Partnership with free software community enables rapid deployment.") }}</li>

    </ul>
  </div>
 </div>
</div>


{% endblock body_content %}
