{% extends "common/base.j2" %}
{% block body_content %}
<div class="jumbotron">
  <div class="container text-center">
    <h1>{{ _("Advantages for Merchants") }}</h1>

      <p>
         {% trans %}
             Taler is a cost-effective electronic payment system
             which provides you with cryptographic proof that
             the payment worked correctly within milliseconds.
             Your Web customers pay with previously unknown
             levels of convenience without risk of fraud.
         {% endtrans %}
       </p>
  </div>
</div>

<div class="container adorn_h3_bracket">
  <div class="row">
    <div class="col-lg-4">
      <h3>{{ _("Fast") }}</h3>

      <p>
         {% trans %}
               Processing transactions with Taler is fast,
               allowing you to confirm the transaction with your
               customer virtually immediately.  Your customers
               will appreciate that they do not have to type in
               credit card information and play the &quot;verified
               by&quot; game.  By making payments significantly
               more convenient for your customers, you may be able
               to use Taler for small transactions that would not
               work with credit card payments due to the mental
               overhead for customers.
         {% endtrans %}
       </p>

    </div>
    <div class="col-lg-4">
      <h3>{{ _("Secure") }}</h3>

      <p>
         {% trans %}
               You will have cryptographic proof of payment from the
               Taler payment service provider. With Taler you never
               handle sensitive customer account information and thus
               do not have to undergo any particular security audits
               (such as PCI DSS).  Your systems will have customer
               contracts with qualified signatures for all
               transactions which you can use in court in case of
               disputes.
         {% endtrans %}
       </p>

    </div>
    <div class="col-lg-4">
      <h3>{{ _("Free") }}</h3>

      <p>
         {% trans %}
               Taler is free software, and you can use the
               liberally-licensed reference code as a starting
               point to integrate Taler into your services. To use
               Taler, you do not need to pay license fees, and the
               free software development model will ensure that
               you can select from many competing integrators for
               support.
         {% endtrans %}
       </p>

    </div>
  </div>
  <div class="row">
    <div class="col-lg-4">
      <h3>{{ _("Cheap") }}</h3>

      <p>
         {% trans %}
               Taler is uses efficient cryptographic constructions with low
               bandwidth and storage requirements.  Combined with Taler's strong
               security which makes fraud impossible, Taler payment service
               providers can operate with very low overhead and
               thus offer low transaction fees.
         {% endtrans %}
       </p>
    </div>
    <div class="col-lg-4">
      <h3>{{ _("Flexible") }}</h3>

      <p>
         {% trans %}
               Taler can be used for different currencies (such as
               Euros, US Dollars or Bitcoins) and any amount, limited
               only by applicable regulation and what denominations
               the payment service provider supports.
         {% endtrans %}
      </p>
    </div>
    <div class="col-lg-4">
      <h3>{{ _("Ethical") }}</h3>

      <p>
         {% trans %}
               Taler prevents tax evasion and money laundering.
               Taler's protocols are efficient and do not use wasteful
               proof-of-work calculations. Taler encourages
               transparency by providing an open standard and free
               software reference implementations.
         {% endtrans %}
      </p>

    </div>
  </div>
</div>

<div class="container-fluid c_acronym">
<div class="container">
  <h2 id="documentation">{{ _("Manuals for merchants") }}</h2>
  <p>
    </p><ul>
      <li>{{ _("The GNU Taler merchant backend operator manual") }}
        (<a href="https://docs.taler.net/merchant/backend/html/manual.html">html</a>,
         <a href="https://docs.taler.net/merchant/backend/pdf/manual.pdf">pdf</a>)</li>
      <li>{{ _("The GNU Taler Web shop integration tutorial (PHP)") }}
        (<a href="https://docs.taler.net/merchant/frontend/php/html/tutorial.html">html</a>,
         <a href="https://docs.taler.net/merchant/frontend/php/pdf/tutorial.pdf">pdf</a>)</li>
      <li>{{ _("The GNU Taler Web shop integration tutorial (Python)") }}
        (<a href="https://docs.taler.net/merchant/frontend/python/html/tutorial.html">html</a>,
         <a href="https://docs.taler.net/merchant/frontend/python/pdf/tutorial.pdf">pdf</a>)</li>
    </ul>
  <p></p>
</div>
</div>


<div class="container">

 <div class="col-lg-6">
    <h2 id="overview">{{ _("The GNU Taler Merchant Backend") }}</h2>

    <p>{{ _("Merchants process payments using the Taler backend:") }}</p>
    <p>
      <ul>

        <li>
             {% trans %}
                  The backend <b>signs</b> and <b>stores</b> the
                  complete terms of offers made by the merchant to customers.
                  For this, the merchant's frontend needs to give the
                  customer's order in a JSON format to the backend.
             {% endtrans %}
        </li>

        <li>
             {% trans %}
                  The backend <b>validates</b> payments received from
                  the wallet and <b>executes</b> them with the Taler
                  payment service provider (the exchange).  For this,
                  the merchant's frontend must pass the payment
                  request through to the Taler backend and check the
                  HTTP status code that is returned.
             {% endtrans %}
        </li>

        <li>
             {% trans %}
                  The backend can <b>list</b> completed transactions
                  and <b>map</b> wire transfers to sets of business
                  transactions, including the exact terms of each
                  contract.
             {% endtrans %}
        </li>

      </ul>
    </p>
 </div>
 <!-- 
   FIXME: When we wrap this img in a div of class col,
   FIXME: the image ends up overlaping the footer.
 -->
 <img src="{{ svg_localized('images/backend') }}"
      alt="{{ _("customer perspective")}}"
      class="img-fluid">
</div> <!-- /container -->
{% endblock body_content %}
