{% extends "common/base.j2" %}
{% block body_content %}

<div class="jumbotron">
  <div class="container text-center">
    <h1>{{ _("Older News") }}</h1>
    <div class="col-lg-12">
      <p>
        {% trans %}
          This page documents the GNU Taler history.
        {% endtrans %}
      </p>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-12">

{#
  {% include "news/2016-12.inc" %}
#}
{% include "news/2016-10.inc" %}
{% include "news/2016-09.inc" %}
{% include "news/2016-08.inc" %}
{% include "news/2016-06.inc" %}
{% include "news/2015-12.inc" %}

{#
  {% include "news/2015-11.inc" %}
#}

{% include "news/2015-02.inc" %}
{#
  {% include "news/2014-12.inc" %}
#}
{% include "news/2014-11.inc" %}

    </div>
  </div>
</div> <!-- /container -->

{% endblock body_content %}
