{% extends "common/base.j2" %}
{% block body_content %}
<div class="container">
<h1>{{ _("GNU Taler in the Press")}}</h1>

<h2>2018</h2>
<p>
<ul>
  <li><a href="https://www.coindesk.com/free-software-messiah-richard-stallman-we-can-do-better-than-bitcoin">CoinDesk</a></li>
  <li><a href="https://www.theguardian.com/commentisfree/2018/apr/03/facebook-abusing-data-law-privacy-big-tech-surveillance">The Guardian</a></li>
  <li><a href="https://fossbytes.com/richard-stallman-proposes-data-collection-ceasing/">FOSSBYTES</a></li>
  <li><a href="http://www.pro-linux.de/news/1/25771/stallman-radikaler-vorschlag-zum-schutz-der-privatsph%C3%83%C2%A4re.html">Pro Linux</a></li>
  <li><a href="https://www.developpez.com/actu/196326/Richard-Stallman-remet-en-cause-l-efficacite-du-RGPD-il-veut-plutot-une-loi-qui-empeche-les-systemes-de-collecter-des-donnees-personnelles/">Developpez.com</a></li>
</ul>
<p>

<h2>2017</h2>
<p>
<ul>
 <li><a href="https://news.ycombinator.com/item?id=15274110">Y-combinator</a></li>
 <li><a href="http://hackerpublicradio.org/eps.php?id=2222">Hacker Public Radio</a></li>
 <li><a href="https://www.secupay.com/de/Node/932">Secupay</a></li>
 <li><a href="https://www.developpez.com/actu/142082/Taler-le-systeme-de-paiement-electronique-anonyme-developpe-par-GNU-et-l-INRIA-passe-en-version-0-3-0/">Developpez.com</a></li>
 <li><a href="https://yourstory.com/2017/08/techie-tuesdays-richard-stallman/">Techie Tuesdays</a></li>
 <li><a href="https://www.heise.de/tp/features/Kryptowaehrung-will-sich-an-den-Oelpreis-binden-3702862.html">Heise</a></li>
</ul>
</p>

<h2>2016</h2>
<p>
<ul>
 <li><a href="https://www.theguardian.com/technology/2016/sep/01/online-publishers-readers-ad-block-surveillance-donate-anonymously">The Guardian</a></li>
 <li><a href="https://phoronix.com/scan.php?page=news_item&px=GNU-Taler-0.0.0">Phoronix</a></li>
 <li><a href="https://www.reddit.com/r/technology/comments/4mnkin/gnu_taler_000_is_a_free_software_electronic/">Reddit</a></li>
 <li><a href="http://www.heise.de/newsticker/meldung/GNU-Taler-Open-Source-Protokoll-fuer-Zahlungen-in-Version-0-0-0-erschienen-3228525.html">Heise</a></li>
 <li><a href="http://www.golem.de/news/halbanonymes-bezahlsystem-gnu-taler-soll-kryptowaehrungen-gerechter-machen-1606-121323.html">Golem</a></li>
 <li><a href="https://news.ycombinator.com/item?id=11840453">Y-combinator</a></li>
 <li><a href="https://np.reddit.com/r/Anarcho_Capitalism/comments/4mnen4/gnutards_came_up_with_an_alternative_to_bitcoin/">Reddit</a></li>
 <li><a href="http://www.theregister.co.uk/2016/06/06/gnu_cryptocurrency_aims_at_the_mainstream_economy_not_the_black_market/">The Register</a></li>
 <li><a href="http://www.opennet.ru/opennews/art.shtml?num=44544">Opennet</a></li>
 <li><a href="http://www.pro-linux.de/news/1/23626/gnu-startet-anonymes-bezahlsystem-taler.html">Pro-Linux</a></li>
 <li><a href="https://www.nixp.ru/news/13738.html">nixp</a></li>
 <li><a href="https://www.mittelstandswiki.de/2016/06/open-source-geld-gnu-taler-soll-landeswaehrungen-online-verbinden/">Mittelstands Wiki</a></li>
 <li><a href="https://www.genbeta.com/especial/el-usuario-merece-que-sea-obligatorio-que-se-respete-su-libertad-entrevista-a-richard-stallman">Genbeta</a></li>
 <li><a href="http://www.lupa.cz/clanky/stallman-vydavatele-musi-umoznit-ctenarum-platit-za-zpravy-anonymne/">Lupz</a></li>
</ul>
</p>

<h2>2015</h2>
<p>
<ul>
 <li><a href="https://www.reddit.com/r/Bitcoin/comments/3m037h/taler_a_gnu_attempt_at_replacing_bitcoin/">Reddit</a></li>
 <li><a href="https://news.ycombinator.com/item?id=10258312">Y-combinator</a></li>
 <li><a href="http://www.heise.de/tp/artikel/46/46089/1.html">Heise</a></li>
 <li><a href="https://bitcoinmagazine.com/21901/bitcoin-governments-without-privacy-taxes/">Bitcoinmagazine</a></li>
 <li><a href="http://www.econotimes.com/Will-identifiable-digital-currency-become-the-new-normal-88131">EconoTimes</a></li>
</ul>
</p>

</div>
{% endblock body_content %}
