{% extends "common/base.j2" %}
{% block body_content %}
<!-- Jumbotron -->
<div class="jumbotron">
  <div class="container text-center">
    <h1>{{ _("SchemaFuzz") }}</h1>
    <p>
    Blah!
    </p>
  </div>

</div>

<div class="container">
</div>
{% endblock body_content %}
