body .jumbotron {
  background-color: white;
}


.lang-slector {
	float: right;
	padding-top: 2mm;
	padding-bottom: 4mm;
	margin-left:  15px;
	margin-right: 15px;
}

html {
	overflow-y: scroll;
}

ul nav {
    background-color: rgb(8,8,8);
    border-radius: 0px;
}

a nav active {
    background-color: black;
    color: white;
}

.c_acronym {
  background-color: #A5C663;
}


#body_content a,
#body_content a:link,
#body_content a:visited {
    text-decoration: underline;
    color: black;
}

#body_content a:hover {
  transition: background-color 0.3s;
  background-color: rgba(200, 200, 200, 0.5);
}

footer a,
footer a:link,
footer a:visited {
    text-decoration: underline;
    color: white;
}

footer a:hover {
  transition: background-color 0.3s;
  background-color: rgba(100, 100, 100, 0.5);
}

.c_intro {
  min-height: 97vh;
}

/* don't show the language selector in the dropdown on mobile devices,
 * since it's in the top bar already.
 */
.in .nav-lang {
  display: none;
}

.mobile-lang {
  margin-left:5px;
  margin-top: 8px;
}

#mybody {
  /* override ugly bootstrap defaults */
  color: black;
}

.btn-dark {
  background-color: #9d9d9d; 
}


#mybody nav {
 border-radius: 0px; 
}

footer {
  padding-top: 2em;
  margin-top: 2em;
  background-color: #222;
  color: white;
}


#body_content .container {
  margin-bottom: 2em;
  padding-top: 1em;
  padding-bottom: 1em;
}

#body_content {
  /* push footer down */
  min-height: 80vh;
}

.adorn_h3_bracket h3::before {
  content: "❬";
  color: #aa3939;
}

.adorn_h3_bracket h3::after {
  content: "❭";
  color: #aa3939;
}
.taler_home::before {
  content: "❬";
  color: #aa3939;
}
.taler_home::after {
  content: "❭";
  color: #aa3939;
}
.taler_home {
  font-family: 'Lucida Console', Monaco, monospace;
}

.footer-list {
  list-style: none;
}

.cushion-above {
  padding-top: 2em;
}

.cushion-below {
  padding-bottom: 2em;
}

.invert {
  -webkit-filter: invert(100%);
  filter: invert(100%);
}
